@model WebAppControleRestaurante.Models.PagtoMesaModel

@{
    ViewData["Title"] = "Apagar pagamento";
}

<h1>Apagar pagamento da mesa</h1>

<h3>Confirma?</h3>
<div>
    <h4>Você está prestes a apagar o pagamento abaixo:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" placeholder="Nome do cliente">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class="col-sm-10" placeholder="Nome do cliente">
            @Html.DisplayFor(model => model.Cliente)
        </dd>
        <dt class="col-sm-2" placeholder="Número da mesa">
            @Html.DisplayNameFor(model => model.NumMesa)
        </dt>
        <dd class="col-sm-10" placeholder="Número da mesa">
            @Html.DisplayFor(model => model.NumMesa)
        </dd>
        <dt class="col-sm-2" placeholder="Valor do Consumo">
            @Html.DisplayNameFor(model => model.ValConsumo)
        </dt>
        <dd class="col-sm-10" placeholder="Valor do Consumo">
            @Html.DisplayFor(model => model.ValConsumo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar pagamento" class="btn btn-danger" /> |
        <input type="submit" value="Voltar" class="btn btn-outline-primary" /> |
        
    </form>
</div>
